@using Models
@using Toasts

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    @foreach (var toast in Toasts)
    {
        <ToastParts
            ToastId="@toast.Id"
            Title="@toast.Title"
            Message="@toast.Message"
            Severity="@toast.Severity"
            OnToastClosed="() => RemoveToast(toast)" />
    }
</div>

@code {
    private List<ToastModel> Toasts { get; set; } = new();

    public void AddToast(string title, string message, ToastSeverity severity)
    {
        Toasts.Add(new ToastModel { 
            Id = $"toast-{Guid.NewGuid()}",
            Title = title,
            Message = message,
            Severity = severity
        });
        StateHasChanged();
    }

    private void RemoveToast(ToastModel toast)
    {
        Toasts.Remove(toast);
        StateHasChanged();
    }
}
