@page "/"

@using Microsoft.Extensions.Localization
@using System.Globalization
@using Frontend.Locales
@using Frontend.Services

@inject IStringLocalizer<Resource> Localizer
@inject CustomAuthenticationStateProvider AuthStateProvider

<PageTitle>Suivi des Patients</PageTitle>

<div class="d-flex flex-column align-items-center justify-content-center vh-100 text-center">
    <h1>Suivi des Patients</h1>

    <p>Votre application de confiance pour gérer efficacement les données des patients et leurs notes.</p>

    @if (!isAuthenticated)
    {
        <a class="btn btn-primary mt-4" href="login"><i class="bi bi-box-arrow-in-right"></i> @Localizer["Login"]</a>
    }

    <AuthGuard>
        <a class="btn btn-primary mt-4" href="patients"><i class="bi bi-person-lines-fill"></i> @Localizer["Patients"]</a>
    </AuthGuard>

</div>

@code {
    private bool isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        isAuthenticated = authState.User.Identity?.IsAuthenticated ?? false;
    }
}
